_includes/schedule/schedule.rnc

start = schedule
schedule = element schedule { monday, tuesday, wednesday, thursday, friday }
day = title, slot+
monday =
    element day {
        attribute d { "Monday, June 11" },
        day
    }
tuesday =
    element day {
        attribute d { "Tuesday, June 12" },
        day
    }
wednesday =
    element day {
        attribute d { "Wednesday, June 13" },
        day
    }
thursday =
    element day {
        attribute d { "Thursday, June 14" },
        day
    }
friday =
    element day {
        attribute d { "Friday, June 15" },
        day
    }
d =
    attribute d {
        "Monday, July 11"
        | "Tuesday, July 12"
        | "Wednesday, July 13"
        | "Thursday, July 14"
        | "Friday, July 15"
    }
title = element title { text }
desc =
    element desc {
        mixed { (code | q)*}
    }
code = element code { url?, text }
url = attribute url { text }
slot = element slot { clocktime, title, desc?, activity+ }
# @clocktime is starting time in "09:00:00" 24-hour format
clocktime = attribute time { xsd:time }
# @durtime format is "PTxHyM", where "PT" is required, "x" is the 
# number of hours and "y" the number of minutes, expressed as integers 
activity = element act { image?, durtime, desc, details? }
durtime = attribute time { xsd:duration }
details = element details { item+ }
item = element item {mixed { (link | q | code | emph | image)* },
        examples?
    }
image = element image {text, alt, size}
alt = attribute alt {text} # describes the image
size = attribute size {"icon" | "larger"}
link = element link { text }
q = element q { text }
examples = element examples { example+ }
example =
    element example {
        mixed { (link | q | code | emph | image)* }
    }
emph = element emph { url?, text }
